nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}

ul {
  display: flex;
  gap: 1rem;
}

li {
  list-style: none;
}

h1 {
  font-size: 3rem;
  color: blue;
}

a {
  text-decoration: none;
}